<p id="notice"><%= notice %></p>

<p>
  <b>Tipoviatura:</b>
  <%= @tipo_viatura.tipoViatura %>
</p>


<%= link_to 'Edit', edit_tipo_viatura_path(@tipo_viatura) %> |
<%= link_to 'Back', tipo_viaturas_path %>
